* {
  box-sizing: border-box;
}
/* body {
  overflow: scroll;
} */

.block {
  width: 200px;
  height: 200px;
  background-color: pink;
  padding: 10px;
  border: 15px solid black;
  overflow: auto;
}

p {
  margin-bottom: 20px;
}
