.wrapper {
  border: 1px solid black;
  margin: 0 auto;
  width: 500px;
  margin-top: 50px;
  text-align: center;
}

.tabs {
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.tab {
  border: 1px solid black;
  padding: 13px;
}

.selected {
  background-color: aquamarine;
  transform: scale(1.1);
}

.content {
  display: none;
}

.active {
  display: block;
}
